//Font family
$fontMontserrat: 'Montserrat', sans-serif;
$fontUbuntu: 'Ubuntu', sans-serif;

//Font size
@mixin fontSize12px {
    font-size: 12px;
}

@mixin fontSize14px {
    font-size: 14px;
}

@mixin fontSize18px {
    font-size: 18px;
}

//Colors
$colorBlack: #231F20;
$colorCreamy: #F5F5F5;
$colorGray: #333029;
$colorGreen: #A9D04D;
$colorLightGray: #D6D6D6;
$colorSilver: #757575;
$colorWhite: #FFFFFF;

//Breakpoints
$desktop: 1024px;
$tablet: 768px;