a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  color: #231F20;
  font-size: 14px;
}

button {
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
  background: none;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 32px 0 38px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1340px;
    padding: 0 20px;
  }
}

fieldset {
  margin: 0;
  padding: 0;
  display: block;
  border: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

input {
  border: none;
  font-family: "Montserrat", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  padding-top: 16px;
  margin-bottom: 32px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .header__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 1024px) {
  .header__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__heading {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (min-width: 768px) {
  .header__heading {
    margin: 0 auto 0 38px;
  }
}

@media (min-width: 1024px) {
  .header__heading {
    margin: 0 auto;
  }
}

.header__input {
  border: 1px solid #D6D6D6;
  line-height: 48px;
  width: 306px;
  padding: 0 20px 0 56px;
  background-image: url(/img/svg/icon-magnifier-24x24.svg);
  background-size: 24px auto;
  background-position: 16px center;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  font-size: 12px;
  color: #757575;
}

.header__input::-webkit-input-placeholder {
  color: #757575;
}

.header__input:-ms-input-placeholder {
  color: #757575;
}

.header__input::-ms-input-placeholder {
  color: #757575;
}

.header__input::placeholder {
  color: #757575;
}

.header__input--mobile {
  width: 100%;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 47px;
  position: relative;
}

@media (min-width: 1024px) {
  .header__menu {
    display: none;
  }
}

.header__menu a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.header__menu img {
  width: 24px;
  height: auto;
}

.header__menu span {
  display: inline-block;
  line-height: 16px;
  margin-top: 7px;
  font-weight: 500;
  font-size: 12px;
  color: #333029;
}

.header__link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.header__search {
  display: none;
}

@media (min-width: 1024px) {
  .header__search {
    display: block;
  }
}

.header__search--mobile {
  display: block;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .header__search--mobile {
    display: none;
  }
}

.mobile-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0px -4px 4px #F5F5F5;
          box-shadow: 0px -4px 4px #F5F5F5;
  background-color: #FFFFFF;
  z-index: 9;
}

@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
}

.mobile-nav__a {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.mobile-nav__ul {
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-nav__ul li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-nav__ul li img {
  width: 24px;
  height: auto;
}

.mobile-search {
  display: none;
}

.mobile-search--active {
  display: block;
}

.nav {
  display: none;
}

@media (min-width: 1024px) {
  .nav {
    display: block;
    position: relative;
    border-top: 1px solid #F5F5F5;
    padding: 31px 0;
  }
}

.nav__a {
  line-height: 24px;
  color: #333029;
  font-size: 18px;
}

.nav__ul {
  padding-left: 7.6vw;
  padding-right: 7.6vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 768px) {
  .user {
    margin-left: auto;
  }
}

.user__a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.user__basket-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-top: 4px;
}

@media (min-width: 768px) {
  .user__basket-title {
    display: none;
  }
}

.user__counter {
  display: none;
}

@media (min-width: 768px) {
  .user__counter {
    color: #FFFFFF;
    width: 24px;
    line-height: 24px;
    text-align: center;
    position: absolute;
    background-color: #231F20;
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
    right: 0;
    top: -8px;
    z-index: -1;
    display: inline-block;
  }
}

.user__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .user__box {
    border: 1px solid #F5F5F5;
    padding: 8px 12px;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
  }
}

.user__box img {
  width: 24px;
  height: auto;
}

.user__link {
  display: none;
}

@media (min-width: 768px) {
  .user__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 47px;
  }
}

.user__link img {
  height: auto;
}

.user__link--account img {
  width: 16px;
}

.user__link--favorites {
  margin: 0 31px 0 33px;
}

.user__link--favorites img {
  width: 20px;
}

.user__link--search {
  margin-right: 42px;
}

@media (min-width: 1024px) {
  .user__link--search {
    display: none;
  }
}

.user__link--search img {
  width: 24px;
}

.user__link span {
  display: inline-block;
  line-height: 16px;
  margin-top: 10px;
  font-weight: 500;
  font-size: 12px;
  color: #333029;
}

.user__span {
  display: none;
}

@media (min-width: 768px) {
  .user__span {
    display: block;
    margin-right: 24px;
    text-align: right;
    font-size: 12px;
    line-height: 16px;
  }
}

.user__span b {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  .topbar {
    margin-bottom: 16px;
  }
}

@media (min-width: 1024px) {
  .topbar {
    margin-bottom: 32px;
  }
}

.topbar__a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.topbar__contact {
  color: #333029;
  font-size: 12px;
  position: relative;
}

.topbar__contact:before {
  border-radius: 50%;
  background-color: #A9D04D;
  background-position: center;
  background-size: 16px auto;
  background-repeat: no-repeat;
  background-image: url(/img/svg/icon-mobile-16x16.svg);
  width: 32px;
  height: 32px;
  position: absolute;
  left: -48px;
  top: calc(50% - 16px);
  content: '';
}

.topbar__free-delivery {
  margin-left: auto;
  font-size: 12px;
  padding: 5px 0;
}

.topbar__img {
  width: 24px;
  height: auto;
}

.topbar__li {
  position: relative;
}

.topbar__li--fb {
  margin-right: 8px;
}

.topbar__li--ig {
  margin-right: 84px;
}

.topbar__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */