.user {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media (min-width: $tablet) {
        margin-left: auto;
    }

    &__a {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &__basket-title {
        font-weight: 500;
        @include fontSize12px;
        line-height: 16px;
        margin-top: 4px;
        
        @media (min-width: $tablet) {
            display: none;
        }
    }

    &__counter {
        display: none;

        @media (min-width: $tablet) {
            color: $colorWhite;
            width: 24px;
            line-height: 24px;
            text-align: center;
            position: absolute;
            background-color: $colorBlack;
            border-radius: 50%;
            @include fontSize12px;
            font-weight: bold;
            right: 0;
            top: -8px;
            z-index: -1;
            display: inline-block;
        }
    }

    &__box {
        display: flex;
        position: relative;
        z-index: 1;
        flex-direction: column;
        align-items: center;

        @media (min-width: $tablet) {
            border: 1px solid $colorCreamy;
            padding: 8px 12px;
            flex-direction: initial;
        }

        img {
            width: 24px;
            height: auto;
        }
    }

    &__link {
        display: none;

        @media (min-width: $tablet) {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            height: 47px;
        }

        img {
            height: auto;
        }

        &--account {
            img {
                width: 16px;
            }
        }

        &--favorites {
            margin: 0 31px 0 33px;

            img {
                width: 20px;
            }
        }

        &--search {
            margin-right: 42px;

            @media (min-width: $desktop) {
                display: none;
            }

            img {
                width: 24px;
            }
        }

        span {
            display: inline-block;
            line-height: 16px;
            margin-top: 10px;
            font-weight: 500;
            @include fontSize12px;
            color: $colorGray;
        }
    }

    &__span {
        display: none;

        @media (min-width: $tablet) {
            display: block;
            margin-right: 24px;
            text-align: right;
            @include fontSize12px;
            line-height: 16px;
        }

        b {
            @include fontSize14px;
            font-weight: 500;
            line-height: 16px;
        }
    }
}